<div class="mt-4">
    <div class="row" style="width: 100%">
        <div class="col col-lg-3" style="width: 40%;">
            <h2>{{pets.name}}</h2>
            <img src="{{pets.image}}" alt="{{pets.name}}" style="width: 100%;">
        </div>

        <div class="col col-lg-9" style="width: 60%; margin-top: 50px;">
            <h2>{{pets.name}}</h2>
            <p>{{pets.description}}</p>
        </div>
    </div>
    <div class="mt-4">
        <button href="back" class="btn btn-primary" onclick="history.back()">Back</button>
    </div>
</div>