<form class="mt-4" method="post" action="/pets/deleteMulty" name="form-deleteMulty">
    <div>
      <h4><strong>Danh sách thú cưng.</strong></h4>
      <a href="/pets/trash" class="link-trash">Thùng rác</a>
    </div>
    <div class="mt-4 container d-flex align-items-center">
      <!-- checked all button-->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Check All
        </label>
      </div>

      <!-- selection for action -->
      <div class="select-form">
        <select class="form-select form-select-sm" aria-label="Default select example" id="select-action" name="selectAction">
          <option selected value="notSelection">--- Selection ---</option>
          <option value="delete">Delete</option>
        </select>
      </div>

      <!--button executive -->
      <div>
        <button type="submit" class="btn btn-primary btn-sm disabled" id="btn-action">Executive</button>
      </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th></th>
            <th scope="col">
              #
            </th>
            <th scope="col">
              Name
              {{{sort 'name' _sort}}}
            </th>
            <th scope="col">
              Description
              {{{sort 'description' _sort}}}
            </th>
            <th scope="col" colspan="4">Image</th>
            </tr>
        </thead>
        <tbody>
            {{#each pets}}
            <tr>
            <td>
              <input class="form-check-input checkbox-item" type="checkbox" value="{{this._id}}" name="checkboxItem[]">
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 64px; height: 64px;"></td>
            <td><a href="/pets/update/{{this._id}}" class="btn btn-link">Update</a></td>
            <td><a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteDiablog" data-id="{{this._id}}">Delete</a></td>
            </tr>

            {{else}}
            <tr class="text-center">
              <td colspan="6">
                Bạn chưa đăng thú cưng nào.
                <a href="/pets/create">Đăng thú cưng</a>
              </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</form>

<!-- delete confirm diablog -->
<div class="modal" tabindex="-1" id="deleteDiablog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this pet?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  
</div>

<!-- the form which confirm delete action -->
<form method="post" id="form-delete-pet"></form>


<!-- control delete -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var deleteDiablog = document.getElementById('deleteDiablog');
    var id;
    var formdeletepet = document.getElementById('form-delete-pet');
    var btnDelete = document.getElementById('btn-delete');
    
    var checkboxAll = document.getElementById('checkbox-all');
    var checkboxItem = document.getElementsByName('checkboxItem[]');
    var btnAction = document.getElementById('btn-action');
    var selection = document.getElementById('select-action');
    var formDeleteMulty = document.getElementsByName('form-deleteMulty')[0];

    deleteDiablog.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        id = button.getAttribute('data-id');
    })

    btnDelete.addEventListener('click', function() {
        formdeletepet.action = '/pets/delete/' + id;
        formdeletepet.submit();
    });

    checkboxAll.addEventListener('change', function(e) {
      var ischecked = e.target.checked;
      checkboxItem.forEach(checkbox => {
        checkbox.checked = ischecked;
      });

      renderbtnAction();
    });

    checkboxItem.forEach(checkbox => {
      checkbox.addEventListener('change', function(e) {
        var obj = comparecheckboxItemToCheckboxAll()
        checkboxAll.checked = obj.isChecked;
        
        renderbtnAction();
      });
    });

    selection.addEventListener('change', function(e) {
      renderbtnAction();
    });

    function renderbtnAction() {
      var obj = comparecheckboxItemToCheckboxAll();
      if(obj.numChecked > 0 && selection.value != 'notSelection') btnAction.classList.remove('disabled');
        else btnAction.classList.add('disabled');
    }

    function comparecheckboxItemToCheckboxAll() {
      var numberofCheckboxItem = checkboxItem.length;
      var numberOfCheckboxItemChecked = 0;
      checkboxItem.forEach(checkbox => {
        numberOfCheckboxItemChecked += checkbox.checked == true ? 1 : 0;
      });
      return {
        isChecked: numberOfCheckboxItemChecked == numberofCheckboxItem,
        numChecked: numberOfCheckboxItemChecked,
      };
    }
    
  })
</script>