<div class="mt-4">
    <div>
      <h4><strong>Danh sách thú cưng đã xóa.</strong></h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Time deleted</th>
            <th scope="col" colspan="4">Image</th>
            </tr>
        </thead>
        <tbody>
            {{#each pets}}
            <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.deletedAt}}</td>
            <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 64px; height: 64px;"></td>
            <td><a href="/pets/restore/{{this._id}}" class="btn btn-link">Restore</a></td>
            <td><a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteDiablog" data-id="{{this._id}}">Force Delete</a></td>
            </tr>

            {{else}}
            <tr class="text-center">
              <td colspan="6">
                Thùng rác trống
                <a href="/pets/posted">Danh sách thú cưng</a>
              </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

<!-- delete confirm diablog -->
<div class="modal" tabindex="-1" id="deleteDiablog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Are you sure you want to force delete this pet?</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  
</div>

<!-- the form which confirm delete action -->
<form method="post" id="form-delete-pet"></form>


<!-- control delete -->
<script>
    var deleteDiablog = document.getElementById('deleteDiablog');
    var id;
    var formdeletepet = document.getElementById('form-delete-pet');
    var btnDelete = document.getElementById('btn-delete');
    
    deleteDiablog.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        id = button.getAttribute('data-id');
    })

    btnDelete.addEventListener('click', function() {
        formdeletepet.action = '/pets/forcedelete/' + id;
        formdeletepet.submit();
    });

</script>